{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static "messenger/css/index.css" %}>
        <title>Messenger</title>
    </head>
    <body>
        <aside class="menu">
            <nav>
                <div><a href="#"><img src={% static "messenger/images/home.svg" %}/></a></div>
                <div><a href="#"><img src={% static "messenger/images/chat.svg" %} /></a></div>
            </nav>

            <div class="settings">
                <a href="#"><img src={% static "messenger/images/settings.svg" %} /></a>
            </div>
        </aside>

        <aside class="contacts">
            <div class="search">
                <img src={% static "messenger/images/search.svg" %} />
                <input type="text" placeholder="Search">
            </div>

            <nav>

            </nav>
        </aside>

        <main>
            <div class="header-contact"></div>
            <div class="content-contact"></div>
        </main>

    </body>
</html>