{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static "messenger/css/index.css" %}>
        <title>Messenger</title>
    </head>
    <body>

        <aside class="menu">
            <nav>
                <a href="#"><img src={% static "messenger/images/home.svg" %}/></a>
                <a href="#"><img src={% static "messenger/images/chat.svg" %}/></a>
            </nav>

            <div class="settings">
                <a href='?settings=on'><img src={% static "messenger/images/settings.svg" %} /></a>
            </div>
        </aside>

        <aside class="contacts">
            <div class="search">
                <img src={% static "messenger/images/search.svg" %} />
                <input type="text" placeholder="Search">
            </div>

            <nav class="all-users-contacts">
                {% for i in list_contacts %}
                    <a href={{i.id_chat}} class="item-contact">
                        <div class="img-item-contact">
                            <img src={% static "messenger/images/avatar.svg" %}/>
                            <img class="status-message" src={% static "messenger/images/new_message.svg" %}/>
                        </div>
                        <div class="preview">
                            <p class="contact-name">{{i.name_chat}}</p>
                            <p class="contact-last-message">{{i.message}}</p>
                        </div>

                        <div class="date-message">
                            <p>{{i.date}}</p>
                        </div>
                    </a>
                {% endfor %}
            </nav>
        </aside>

        {%if is_open_settings == 'on' %}
            <main>
                <div class="block-form">
                    <form method="POST" action={% url 'home-chat' %}>
                        {% csrf_token %}

                        <label id="label-uid"> Ваш UID: {{UID}}</label>
                        <label for="username">Ваш псевдоним:</label>
                        <input type="text" name="username" placeholder={{user_name}} required />
                        <input type='hidden' name='settings' value='on' />
                        <button type="submit">Изменить псевдоним</button>
                        <a href='?settings=off'>Свернуть настройки</a>
                    </form>
                </div>
            </main>

        {% else %}

            <main id = {{main}}>
                <div class="header-contact">
                    <div>
                        <img src={% static "messenger/images/avatar.svg" %}/>
                    </div>

                    <div class="header-info">
                        <p class="contact-name">{{chat_name}}</p>
                        <p class="logout-date">04-02-2025</p>
                    </div>

                    <div class="settings-contact">
                        <img src={% static "messenger/images/settings-contact.svg" %}/>
                    </div>
                </div>

                <div class="content-contact">
                    {% for i in history_messenger%}
                        <div class="message">
                            {% if i.email_user != current_email_user %}
                                <div class="message-area" id="input">
                            {% else %}
                                <div class="message-area" id="output">
                            {% endif %}
                                    <p class="message-content">{{i.message}}</p>
                                </div>
                            <div class="message-dot">
                                {% if i.email_user != current_email_user %}
                                    <img src={% static "messenger/images/dot-white.svg" %} />
                                {% else %}
                                    <img src={% static "messenger/images/dot.svg" %} />
                                {% endif %}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <div class="input-contact">
                    <div>
                        <img src={% static "messenger/images/clip.svg" %}/>
                        <input placeholder="Messange">
                    </div>
                    <img class="dot-input-contact" src={% static "messenger/images/dot.svg" %}/>
                </div>

            </main>
        {% endif %}
        
    </body>
</html>