{% load static %}

<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href={% static "/css/index.css" %}>
        <script src={% static "/js/index.js" %} defer></script>
        <title>Messenger</title>
    </head>
    <body>
        <main>
            <form method="POST">
                {% csrf_token %}
                <input type="hidden" name="act" value="login" class="act-form" />

                <label for="email">Почта:</label>
                <input id="email" type="email" name="email" placeholder="..." required />
                <label for="password">Пароль:</label>
                <input type="password" name="password" minlength="10" maxlength="255" placeholder="..." required />

                <div class="for-register">
                    <label for="trust_registration">Регистрация без проверки:</label>
                    <input type="checkbox" name="trust_registration" class="trust_registration_checkbox"/>
                </div>

                <button type="submit" class="button-submit-form">Войти</button>
            </form>

            <div>
                <a href="#" class="change-form">Регистрация</a>
            </div>
        </main>

        <div class="message">
            <p>{{message}}</p>
        </div>

    </body>
</html>