* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(24,28,32);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    gap:25px;
}

.menu{
    display: flex;
    justify-content: center;
    background-color: rgb(74,84,92);
    border-radius: 20px;
    padding-top: 20px;
    width: 100px;
    height: 95%;
}

.menu nav{
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.menu div{
    width: 100px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-right: 2px solid rgb(74,84,92);
}

.menu div:hover{
     background-color: rgb(59,59,59);
     border-right: 2px solid rgb(255,255,255);
}

.settings{
    position: absolute;
    bottom: 40px;
}

.contacts{
    display: flex;
    justify-content: center;
    width: 30%;
    height: 95%;
}

.search{
    display:flex;
    padding: 8px;
    height: 50px;
    width: 100%;
    background-color: rgb(74,84,92);
    padding-left: 10px;
    border-radius: 20px;
    gap: 5px;
}

.search input{
    width: 100%;
    font-size:22px;
    color:rgb(124,124,124);
    background-color: rgb(74,84,92);
    border: none;
    outline:none;
}

.contacts nav{

}
